In [7]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import datetime as dt
from webdriver_manager.chrome import ChromeDriverManager

In [8]:
# Set up Splinter - set the executable path and initialize a browser:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Could not get version for google-chrome with the command:  powershell "$ErrorActionPreference='silentlycontinue' ; (Get-Item -Path "$env:PROGRAMFILES\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion ; if (-not $? -or $? -match $error) { (Get-Item -Path "$env:PROGRAMFILES(x86)\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion } if (-not $? -or $? -match $error) { (Get-Item -Path "$env:LOCALAPPDATA\Google\Chrome\Application\chrome.exe").VersionInfo.FileVersion } if (-not $? -or $? -match $error) { reg query "HKCU\SOFTWARE\Google\Chrome\BLBeacon" /v version } if (-not $? -or $? -match $error) { reg query "HKLM\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Google Chrome" /v version }"
Current google-chrome version is UNKNOWN
Get LATEST chromedriver version for UNKNOWN google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/102.0.5005.61/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\eldarias\.wdm\drivers\chromedriver\win32\102.0.5005.61]

In [9]:
# This code tells Splinter which site we want to visit by assigning the link to a URL
character_name = 'zarude'
url = f'https://pokemondb.net/pokedex/{character_name}'
browser.visit(url)

In [10]:
# Parse the HTML: use BeautifulSoup to parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [11]:
get_table_data = html_soup.find('div', class_='sv-tabs-panel-list')

In [6]:
get_table_data

<div class="sv-tabs-panel-list">
<div class="sv-tabs-panel active" id="tab-basic-893">
<div class="grid-row">
<div class="grid-col span-md-6 span-lg-4 text-center">
<p><a data-title="Zarude official artwork" href="https://img.pokemondb.net/artwork/large/zarude.jpg" rel="lightbox"><img alt="Zarude artwork by Ken Sugimori" height="400" src="https://img.pokemondb.net/artwork/zarude.jpg" width="332"/></a></p>
<p class="text-small"><a href="/artwork/zarude">Additional artwork</a></p>
</div>
<div class="grid-col span-md-6 span-lg-4">
<h2>Pokédex data</h2>
<table class="vitals-table">
<tbody>
<tr>
<th>National №</th>
<td><strong>893</strong></td>
</tr>
<tr>
<th>Type</th>
<td>
<a class="type-icon type-dark" href="/type/dark">Dark</a> <a class="type-icon type-grass" href="/type/grass">Grass</a> </td>
</tr>
<tr>
<th>Species</th>
<td>Rogue Monkey Pokémon</td>
</tr>
<tr>
<th>Height</th>
<td>1.8 m (5′11″)</td>
</tr>
<tr>
<th>Weight</th>
<td>70.0 kg (154.3 lbs)</td>
</tr>
<tr>
<th>Abilities</th>
<td><span class="text-muted">1. <a href="/ability/leaf-guard" title="Prevents problems with status in sunny weather.">Leaf Guard</a></span><br/></td>
</tr>
<tr>
<th>Local №</th>
<td>211 <small class="text-muted">(The Isle of Armor)</small><br/></td>
</tr>
</tbody>
</table>
</div>
<div class="grid-col span-md-12 span-lg-4">
<div class="grid-row">
<div class="grid-col span-md-6 span-lg-12">
<h2>Training</h2>
<table class="vitals-table">
<tbody>
<tr>
<th>EV yield</th>
<td class="text">
3 Attack </td>
</tr>
<tr>
<th>Catch rate</th>
<td>
3 <small class="text-muted">(0.4% with PokéBall, full HP)</small>
</td>
</tr>
<tr>
<th>Base <a href="/glossary#def-friendship">Friendship</a></th>
<td>
0 <small class="text-muted">(lower than normal)</small>
</td>
</tr>
<tr>
<th>Base Exp.</th>
<td>300</td>
</tr>
<tr>
<th>Growth Rate</th>
<td>Slow</td>
</tr>
</tbody>
</table>
</div>
<div class="grid-col span-md-6 span-lg-12">
<h2>Breeding</h2>
<table class="vitals-table">
<tbody>
<tr>
<th>Egg Groups</th>
<td><a href="/egg-group/undiscovered">Undiscovered</a></td>
</tr>
<tr>
<th>Gender</th>
<td>Genderless</td> </tr>
<tr>
<th><a href="/glossary#def-eggcycle">Egg cycles</a></th>
<td>120 <small class="text-muted">(30,584–30,840 steps)</small>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="grid-row">
<div class="grid-col span-md-12 span-lg-8">
<div id="dex-stats"></div>
<h2>Base stats</h2>
<div class="resp-scroll">
<table class="vitals-table">
<tbody>
<tr>
<th>HP</th>
<td class="cell-num">105</td>
<td class="cell-barchart">
<div class="barchart-bar barchart-rank-4" style="width:58.33%;"></div>
</td>
<td class="cell-num">320</td>
<td class="cell-num">414</td>
</tr>
<tr>
<th>Attack</th>
<td class="cell-num">120</td>
<td class="cell-barchart">
<div class="barchart-bar barchart-rank-5" style="width:66.67%;"></div>
</td>
<td class="cell-num">220</td>
<td class="cell-num">372</td>
</tr>
<tr>
<th>Defense</th>
<td class="cell-num">105</td>
<td class="cell-barchart">
<div class="barchart-bar barchart-rank-4" style="width:58.33%;"></div>
</td>
<td class="cell-num">193</td>
<td class="cell-num">339</td>
</tr>
<tr>
<th>Sp. Atk</th>
<td class="cell-num">70</td>
<td class="cell-barchart">
<div class="barchart-bar barchart-rank-3" style="width:38.89%;"></div>
</td>
<td class="cell-num">130</td>
<td class="cell-num">262</td>
</tr>
<tr>
<th>Sp. Def</th>
<td class="cell-num">95</td>
<td class="cell-barchart">
<div class="barchart-bar barchart-rank-4" style="width:52.78%;"></div>
</td>
<td class="cell-num">175</td>
<td class="cell-num">317</td>
</tr>
<tr>
<th>Speed</th>
<td class="cell-num">105</td>
<td class="cell-barchart">
<div class="barchart-bar barchart-rank-4" style="width:58.33%;"></div>
</td>
<td class="cell-num">193</td>
<td class="cell-num">339</td>
</tr>
</tbody>
<tfoot>
<tr>
<th>Total</th>
<td class="cell-total"><b>600</b></td>
<th class="cell-barchart"></th>
<th>Min</th>
<th>Max</th>
</tr>
</tfoot>
</table>
</div>
<p class="text-small text-muted">The ranges shown on the right are for a level 100 Pokémon. Maximum values are based on a beneficial nature, 252 EVs, 31 IVs; minimum values are based on a hindering nature, 0 EVs, 0 IVs.</p>
</div>
<div class="grid-col span-md-12 span-lg-4">
<h2>Type defenses</h2>
<p>The effectiveness of each type on <em>Zarude</em>.</p>
<div class="resp-scroll text-center"><table class="type-table type-table-pokedex"><tbody><tr><th><a class="type-icon type-normal type-cell type-abbr" href="/type/normal" title="Normal">Nor</a></th><th><a class="type-icon type-fire type-cell type-abbr" href="/type/fire" title="Fire">Fir</a></th><th><a class="type-icon type-water type-cell type-abbr" href="/type/water" title="Water">Wat</a></th><th><a class="type-icon type-electric type-cell type-abbr" href="/type/electric" title="Electric">Ele</a></th><th><a class="type-icon type-grass type-cell type-abbr" href="/type/grass" title="Grass">Gra</a></th><th><a class="type-icon type-ice type-cell type-abbr" href="/type/ice" title="Ice">Ice</a></th><th><a class="type-icon type-fighting type-cell type-abbr" href="/type/fighting" title="Fighting">Fig</a></th><th><a class="type-icon type-poison type-cell type-abbr" href="/type/poison" title="Poison">Poi</a></th><th><a class="type-icon type-ground type-cell type-abbr" href="/type/ground" title="Ground">Gro</a></th></tr><tr><td class="type-fx-cell type-fx-100" title="Normal → Dark/Grass = normal effectiveness"></td><td class="type-fx-cell type-fx-200" title="Fire → Dark/Grass = super-effective">2</td><td class="type-fx-cell type-fx-50" title="Water → Dark/Grass = not very effective">½</td><td class="type-fx-cell type-fx-50" title="Electric → Dark/Grass = not very effective">½</td><td class="type-fx-cell type-fx-50" title="Grass → Dark/Grass = not very effective">½</td><td class="type-fx-cell type-fx-200" title="Ice → Dark/Grass = super-effective">2</td><td class="type-fx-cell type-fx-200" title="Fighting → Dark/Grass = super-effective">2</td><td class="type-fx-cell type-fx-200" title="Poison → Dark/Grass = super-effective">2</td><td class="type-fx-cell type-fx-50" title="Ground → Dark/Grass = not very effective">½</td></tr></tbody></table><table class="type-table type-table-pokedex"><tbody><tr><th><a class="type-icon type-flying type-cell type-abbr" href="/type/flying" title="Flying">Fly</a></th><th><a class="type-icon type-psychic type-cell type-abbr" href="/type/psychic" title="Psychic">Psy</a></th><th><a class="type-icon type-bug type-cell type-abbr" href="/type/bug" title="Bug">Bug</a></th><th><a class="type-icon type-rock type-cell type-abbr" href="/type/rock" title="Rock">Roc</a></th><th><a class="type-icon type-ghost type-cell type-abbr" href="/type/ghost" title="Ghost">Gho</a></th><th><a class="type-icon type-dragon type-cell type-abbr" href="/type/dragon" title="Dragon">Dra</a></th><th><a class="type-icon type-dark type-cell type-abbr" href="/type/dark" title="Dark">Dar</a></th><th><a class="type-icon type-steel type-cell type-abbr" href="/type/steel" title="Steel">Ste</a></th><th><a class="type-icon type-fairy type-cell type-abbr" href="/type/fairy" title="Fairy">Fai</a></th></tr><tr><td class="type-fx-cell type-fx-200" title="Flying → Dark/Grass = super-effective">2</td><td class="type-fx-cell type-fx-0" title="Psychic → Dark/Grass = no effect">0</td><td class="type-fx-cell type-fx-400" title="Bug → Dark/Grass = super-effective">4</td><td class="type-fx-cell type-fx-100" title="Rock → Dark/Grass = normal effectiveness"></td><td class="type-fx-cell type-fx-50" title="Ghost → Dark/Grass = not very effective">½</td><td class="type-fx-cell type-fx-100" title="Dragon → Dark/Grass = normal effectiveness"></td><td class="type-fx-cell type-fx-50" title="Dark → Dark/Grass = not very effective">½</td><td class="type-fx-cell type-fx-100" title="Steel → Dark/Grass = normal effectiveness"></td><td class="type-fx-cell type-fx-200" title="Fairy → Dark/Grass = super-effective">2</td></tr></tbody></table></div> </div>
</div>
</div>
</div>

## Getting Pokedex Data

In [205]:
# GET Pokédex data / Vitals:
pokedex_data_table = get_table_data.find(class_='vitals-table')

In [206]:
# Get Table Data
table_body = pokedex_data_table.find('tbody')
rows = table_body.find_all('tr')

table_head = []
table_data = []

for row in rows:
    th = row.find_all('th')
    td = row.find_all('td')
    th = [x.text.strip() for x in th]
    td = [x.text.strip() for x in td]  
    table_head.append(th)
    table_data.append(td)

# Create Pokédex data / Vitals dataframe::
pokedex_head_df = pd.DataFrame(table_head)
pokedex_data_df = pd.DataFrame(table_data)
pokedex_table_df = pd.concat([pokedex_head_df, pokedex_data_df], axis=1)

## Getting Training Data:

In [207]:
training = get_table_data.find(class_='grid-col span-md-12 span-lg-4')
training_data = training.find_all(class_='vitals-table')[0]

# GET Training Data:
table_body = training_data.find('tbody')
rows = table_body.find_all('tr')

table_head = []
table_data = []

for row in rows:
    th=row.find_all('th')
    td=row.find_all('td')
    th=[x.text.strip() for x in th]
    td=[x.text.strip() for x in td]  
    table_head.append(th)
    table_data.append(td)

# Create Pokédex data / Vitals dataframe::
training_head = pd.DataFrame(table_head)
training_data = pd.DataFrame(table_data)
training_df = pd.concat([training_head, training_data], axis=1)
#training_df.head(10)

## Getting Breeding Data:

In [208]:
breeding = training.find_all(class_='vitals-table')[1]

# GET Training Data:
table_body = breeding.find('tbody')
rows = table_body.find_all('tr')

table_head = []
table_data = []

for row in rows:
    th=row.find_all('th')
    td=row.find_all('td')
    th=[x.text.strip() for x in th]
    td=[x.text.strip() for x in td]  
    table_head.append(th)
    table_data.append(td)

# Create Pokédex data / Vitals dataframe::
breeding_head = pd.DataFrame(table_head)
breeding_data = pd.DataFrame(table_data)
breeding_df = pd.concat([breeding_head, breeding_data], axis=1)
#breeding_df.head(10)

## Getting Base Stats Data

In [209]:
# GET Base Stats
base_stats = get_table_data.find(class_='grid-col span-md-12 span-lg-8')

# GET Base Stats Data:
table_body = base_stats.find('tbody')
rows = table_body.find_all('tr')

table_head = []
table_data = []

for row in rows:
    th=row.find_all('th')
    td=row.find_all('td')
    th=[x.text.strip() for x in th]
    td=[x.text.strip() for x in td]  
    table_head.append(th)
    table_data.append(td)

# Create Pokédex data / Vitals dataframe::
stats_head = pd.DataFrame(table_head)
stats_data = pd.DataFrame(table_data)
stats_df = pd.concat([stats_head, stats_data], axis=1)
#stats_df.head(10)

## Displaying Collected Data:

In [211]:
pokedex_table_df

         Type                    Value
0  National №                      893
1        Type               Dark Grass
2     Species     Rogue Monkey Pokémon
3      Height            1.8 m (5′11″)
4      Weight      70.0 kg (154.3 lbs)
5   Abilities            1. Leaf Guard
6     Local №  211 (The Isle of Armor)

In [251]:
training_df.head(10)

                 0                                0
0         EV yield                         3 Attack
1       Catch rate  3 (0.4% with PokéBall, full HP)
2  Base Friendship            0 (lower than normal)
3        Base Exp.                              300
4      Growth Rate                             Slow

In [213]:
breeding_df.head(10)

            0                          0
0  Egg Groups               Undiscovered
1      Gender                 Genderless
2  Egg cycles  120 (30,584–30,840 steps)

In [214]:
stats_df.head(10)

         0    0 1    2    3
0       HP  105    320  414
1   Attack  120    220  372
2  Defense  105    193  339
3  Sp. Atk   70    130  262
4  Sp. Def   95    175  317
5    Speed  105    193  339

In [239]:
Status_value = stats_df.iloc[: , [0, 1]].copy().reset_index(drop = True)
Status_value = Status_value.transpose()
Status_value

     0       1        2        3        4      5
0   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  105     120      105       70       95    105

In [240]:
Status_value_min = stats_df.iloc[: , [0, 3]].copy().reset_index(drop = True)
Status_value_min = Status_value_min.add_prefix('min_')
Status_value_min = Status_value_min.transpose()
Status_value_min

         0       1        2        3        4      5
min_0   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
min_2  320     220      193      130      175    193

In [234]:
Status_value_max = stats_df.iloc[: , [0, 4]].copy().reset_index(drop = True)
Status_value_max = Status_value_max.transpose()
Status_value_max

     0       1        2        3        4      5
0   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
3  414     372      339      262      317    339